
.footer__li {
    padding: $gutter/4 0;
  }
  
  .footer__li__catagory {
    padding-bottom: $gutter;
  }
  
.footer__copyright {
  padding-bottom: $gutter*2;
  text-align: center;
}

.footer__link {
  font-weight: 600;
  color: $white;
  text-decoration: none;
  @include transitions(color);
}

.footer_list {
    list-style-type: none;
    padding: $gutter 0;
  }
  
.footer {
    background-color: $red;
    @include squeezepad;
  }

  .footer__link:hover {
    color: $black;
  }