.staff_main {
  @include squeezepad;
}

.face {
  backface-visibility: hidden;
}

.face.back {
  transform: rotateY(180deg);
}

.staff_card {
  @include transitions(transform);
  position: relative;
  transform-style: preserve-3d;
}

.staff_image {
  max-width: 100%;
}

.staff_container:hover .staff_card {
  transform: rotateY(180deg);
}

.staff_text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
