@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
}



// TODO sækja allar sass skrár
<<<<<<< HEAD
@import "scss/...";
=======
@import "scss/staff";
/*@import "scss/products";
@import "scss/cart";*/

>>>>>>> ccfb73787354e61c7865f02c2ddb1b3182b743a5
